Repository kleros/curate-v2, pull requests merged in 2024-06, with the labels that each got.

#34 feat(web): add-siwe-authentication-for-file-uploads-and-notification-…
  web/.gitignore
  web/netlify.toml
  web/netlify/functions/authUser.ts
  web/netlify/functions/fetch-settings.ts
  web/netlify/functions/getNonce.ts
  web/netlify/functions/update-settings.ts
  web/netlify/functions/uploadToIPFS.ts
  web/netlify/middleware/authMiddleware.ts
  web/package.json
  web/scripts/generateBuildInfo.sh
  web/scripts/runEnv.sh
  web/src/components/ActionButton/Modal/ChallengeItemModal.tsx
  web/src/components/ActionButton/Modal/RemoveModal.tsx
  web/src/components/EnsureAuth.tsx
  web/src/hooks/queries/useUserSettings.tsx
  web/src/hooks/useSessionStorage.ts
  web/src/layout/Header/navbar/Menu/Settings/Notifications/FormContactDetails/FormContact.tsx
  web/src/layout/Header/navbar/Menu/Settings/Notifications/FormContactDetails/index.tsx
  web/src/layout/Header/navbar/Menu/Settings/Notifications/index.tsx
  web/src/pages/SubmitItem/index.tsx
  web/src/pages/SubmitList/index.tsx
  web/src/types/supabase-datalake.ts
  web/src/types/supabase-notification.ts
  web/src/utils/authoriseUser.ts
  web/src/utils/uploadFileToIPFS.ts
  web/src/utils/uploadSettingsToSupabase.ts
  yarn.lock
Labels: Package: Web, Type: Feature🗿

#42 Feat/removal challenge justification display
  subgraph/schema.graphql
  subgraph/src/Curate.ts
  subgraph/src/entities/Request.ts
  web/.env.devnet.public
  web/package.json
  web/src/assets/svgs/icons/close-circle.svg
  web/src/components/HistoryDisplay/Party/Header.tsx
  web/src/components/HistoryDisplay/Party/JustificationDetails.tsx
  web/src/components/HistoryDisplay/Party/JustificationModal.tsx
  web/src/components/HistoryDisplay/Party/index.tsx
  web/src/components/HistoryDisplay/index.tsx
  web/src/components/InformationCards/ItemInformationCard/index.tsx
  web/src/components/InformationCards/RegistryInformationCard/TopInfo.tsx
  web/src/components/InformationCards/RegistryInformationCard/index.tsx
  web/src/components/StyledSkeleton.tsx
  web/src/consts/index.ts
  web/src/context/GraphqlBatcher.tsx
  web/src/hooks/queries/useEvidences.ts
  web/src/hooks/queries/useRequestsQuery.ts
  web/src/styles/customScrollbar.ts
  web/src/utils/fetchJsonIpfs.ts
  yarn.lock
Labels: Package: Web, Type: Feature🗿

#44 Updated the dispute templates and data mappings
  contracts/deploy/00-curate-v2.ts
Labels: Type: Enhancement :sparkles:, Package: Contracts

#46 chore(web): update-templates-for-submit-list-flow
  web/src/utils/submitListUtils.ts
Labels: Type: Enhancement :sparkles:
